<header>
  <div class="bg-shapes position-relative w-100 d-none d-md-block">
    <img class="position-absolute bg-menu" src="{{ '/assets/images/bg-shape-solid.svg' | relative_url }}" alt="">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light align-items-start">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="{{ site.baseurl }}/assets/images/{{ content.header.header_logo }}" alt="{{ content.header.header_logo_alt }}" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        {% for link in content.header.links %}
          <li class="nav-item mr-4">
            <a class="nav-link" href="{{ link.link_url }}">{{ link.link_text }}</a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="{{ content.header.lang.link_url }}">{{ content.header.lang.link_text }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>